<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.asa.sms2honeycomb"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"
    	android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	
	<supports-screes
    	android:smallScreens="true"
    	android:normalScreens="true"
    	android:largeScreens="true"
    	android:anyDensity="true" />

    <application android:icon="@drawable/icon" android:label="@string/app_name"
    	android:hardwareAccelerated="true">
        <activity android:name=".SMS2HoneycombLauncher">
 			<intent-filter>
 				<action android:name="android.intent.action.MAIN" />
 				<category android:name="android.intent.category.LAUNCHER" />
 			</intent-filter>
 		</activity>
        <activity android:name=".SMS2HoneycombActivity"
                  android:label="@string/app_name">
        </activity>
        <!--  TODO: Delete this activity -->
        <activity android:name=".tablet.MainHoneycombActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:label="@string/app_name" android:name=".phone.MainPhoneActivity">
        </activity>
        <activity android:label="@string/app_name" android:name=".phone.LauncherActivity">
        </activity>
        <activity android:label="@string/app_name" android:name=".phone.LoginActivity">
        </activity>
        <activity android:name=".phone.RegisterActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:label="@string/app_name" android:name=".tablet.LauncherActivity">
        </activity>
        
        <receiver android:name=".IncomingSmsReceiver">
			<intent-filter>
				<action android:name="android.provider.Telephony.SMS_RECEIVED"/>
			</intent-filter>
		</receiver>

		<service android:name="com.parse.PushService" />
		<receiver android:name="com.parse.ParseBroadcastReceiver">
		  <intent-filter>
		    <action android:name="android.intent.action.BOOT_COMPLETED" />
		    <action android:name="android.intent.action.USER_PRESENT" />
		  </intent-filter>
		</receiver>
		<receiver android:name=".IncomingPushReceiver"></receiver>

    </application>
</manifest>